<a href="https://colab.research.google.com/github/beingshub02/100daysofml/blob/main/Brush_up_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Basics

In [ ]:
# printing any value
print("Hello")

Hello

### Variable
A variable is a reserved memory location to store values. A varaiable name must begin alphabet/underscore followed by alphabets/numbers/underscores

In [ ]:
# python data types
number = 3
float_number = 99.99
character = 'a'
string = "Hello, World!"

print(number, type(number))
print(float_number, type(float_number))
print(character, type(character))
print(string, type(string))

3 <class 'int'>
99.99 <class 'float'>
a <class 'str'>
Hello, World! <class 'str'>

In [ ]:
# writing basic operations
a = 6
b = 2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

8
4
12
3.0
0

In [ ]:
# getting input 
number = input("Enter a number: ")

print(number, type(number))

Enter a number: 5
5 <class 'str'>

In [ ]:
# casting string to integer
number = int(input("Enter a number: "))

print(number, type(number))
print("Square of the number:", number**2)

Enter a number: 8
8 <class 'int'>
Square of the number: 64

## 3. Python Built-in Data Structures

### 3.1. List
* List is an ordered collection of data. 
* It is mutable and allow duplicates. 
* It list is created by enclosing the data items with in square brackets delimited by ","

In [ ]:
# Creating a list
marks = [35, 68, 96, 80, 90]

print(marks)

[35, 68, 96, 80, 90]

In [ ]:
# Indexing list elements
print("marks[0] : %d" % marks[0])
print("marks[len(marks)-1] : %d" % marks[len(marks)-1])
print("marks[-1] : %d" % marks[-1])

marks[0] : 35
marks[len(marks)-1] : 90
marks[-1] : 90

In [ ]:
# Modifying list elemets
marks[0] = 38

print(marks)

[38, 68, 96, 80, 90]

In [ ]:
# Slicing the list
# Syntax: list[start:end(exclusive)]
print(marks[0:len(marks)])
print(marks[:len(marks)])
print(marks[0:])
print(marks[:])

print(marks[2:4])

[38, 68, 96, 80, 90]
[38, 68, 96, 80, 90]
[38, 68, 96, 80, 90]
[38, 68, 96, 80, 90]
[96, 80]

In [ ]:
# Adding and removing list elements
marks.append(89)
print(marks)

marks.insert(1, 70)
print(marks)

marks.remove(70)
print(marks)

[38, 68, 96, 80, 90, 89]
[38, 70, 68, 96, 80, 90, 89]
[38, 68, 96, 80, 90, 89]

In [ ]:
# sorting list elements
print(sorted(marks))
print(sorted(marks, reverse=True))

[38, 68, 80, 89, 90, 96]
[96, 90, 89, 80, 68, 38]

In [ ]:
# List Comprehesion
pass_mark = 50
marks_new = [mark for mark in marks if mark > pass_mark]
print(marks_new)

[68, 96, 80, 90, 89]

### 3.2. Tuple
* Tuple is an ordered collection of data. 
* It is immutable and allow duplicates. 
* It list is created by enclosing the data items with in round brackets delimited by ","

In [ ]:
# Creating a tuple
marks = (35, 68, 96, 80, 90)

print(marks)

(35, 68, 96, 80, 90)

In [ ]:
# Indexing tuple elements
print("marks[0] : %d" % marks[0])
print("marks[len(marks)-1] : %d" % marks[len(marks)-1])
print("marks[-1] : %d" % marks[-1])

marks[0] : 35
marks[len(marks)-1] : 90
marks[-1] : 90

In [ ]:
#  Note: We cannot modify the elemnts in a tuple

#marks[0] = 38

print(marks)

(35, 68, 96, 80, 90)

In [ ]:
# Slicing the tuple
# Syntax: tuple[start:end(exclusive)]
print(marks[0:len(marks)])
print(marks[:len(marks)])
print(marks[0:])
print(marks[:])

print(marks[2:4])

(35, 68, 96, 80, 90)
(35, 68, 96, 80, 90)
(35, 68, 96, 80, 90)
(35, 68, 96, 80, 90)
(96, 80)

In [ ]:
# tuple Comprehesion
pass_mark = 50
marks_new = tuple((mark for mark in marks if mark > pass_mark))
print(marks_new)

(68, 96, 80, 90)

### 3.3. Set
* Set is an unordered collection of data. 
* It is mutable and does not allow duplicates. 
* It is created by enclosing the data items with in curly brackets delimited by ","

In [ ]:
cities = {"Madras", "Delhi", "Bombay", "Calcutta", "Madras"}

print(cities)

{'Bombay', 'Delhi', 'Madras', 'Calcutta'}

In [ ]:
# Set Operations

a = {1, 2, 3, 4}
b = {4, 5, 6}

# Set Union
print(a | b)

# Set Intersection
print(a & b)

# Set Difference
print(a - b)

# Symmetric Difference
print(a ^ b)

{1, 2, 3, 4, 5, 6}
{4}
{1, 2, 3}
{1, 2, 3, 5, 6}

In [ ]:
# Adding and removing set elements
a.add(7)
print(a)

a.remove(7)
print(a)

{1, 2, 3, 4, 7}
{1, 2, 3, 4}

### 3.4. Dictionary
* Dictionary is an unordered collection of key-values pairs. 
* It is mutable. 
* It is created by enclosing the key-value parirs (key:value) with in curly brackets delimited by ","

In [ ]:
student = {"name":"Gokul", "reg_no":"15IT026", "course":"BTech"}

print(student)

{'name': 'Gokul', 'reg_no': '15IT026', 'course': 'BTech'}

In [ ]:
# Accessing elements
print(student["course"])

for key, value in student.items():
    print("Key: %s ; Value: %s" % (key, value))

BTech
Key: name ; Value: Gokul
Key: reg_no ; Value: 15IT026
Key: course ; Value: BTech

### 3.5. String
* A string is a sequence of charactes
* It is immutable. 
* It is created by enclosing text with single/double/triple quotes

In [ ]:
word = "Malayalam"
print(word)

Malayalam

In [ ]:
# String operations

print(word.lower())
print(word.upper())
print(len(word))
print(word.startswith("A"))
print(word.endswith("m"))

malayalam
MALAYALAM
9
False
True

In [ ]:
# Slicing the string
print(word[0:5])

Malay

In [ ]:
# Coverting string to a list of characters
print(list(word))

['M', 'a', 'l', 'a', 'y', 'a', 'l', 'a', 'm']

In [ ]:
# splitting the text
sentence = "I love deep learning"
words = sentence.split(" ")
print(words)

['I', 'love', 'deep', 'learning']

In [ ]:
# finding length of a list
print(len(words))

4

## 4. Control Structures

<b>'if...else' syntax:</b>
    
    if CONDITION:
        code block 1
    elif CONDITION:
        code block 2
    ...
    else:
        code block n

In [ ]:
a = 3
b = 5

if a > b:
    print("a is greater than b")

In [ ]:
if a > b:
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

In [ ]:
score = 80
grade = None

if score > 90:
    grade = "A"
elif score > 80:    
    grade = "B"
elif score > 70:    
    grade = "C"
elif score > 60:    
    grade = "D"
elif score > 50:    
    grade = "E"
else:
    grade = "F"
    
print("Grade: " + grade)

Grade: C

<b>'for' syntax:</b>
    
    for ELEMENT in SEQUENCE:
        code block

In [ ]:
ofl_team = ["mitesh", "pratyush", "ananya", "rohith", "prem", "gokul"]
for person in ofl_team:
    mail = person + "@onefourthlabs.com"
    print(mail)

mitesh@onefourthlabs.com
pratyush@onefourthlabs.com
ananya@onefourthlabs.com
rohith@onefourthlabs.com
prem@onefourthlabs.com
gokul@onefourthlabs.com

In [ ]:
for i in range(len(ofl_team)):
    mail = ofl_team[i] + "@onefourthlabs.com"
    print(mail)

mitesh@onefourthlabs.com
pratyush@onefourthlabs.com
ananya@onefourthlabs.com
rohith@onefourthlabs.com
prem@onefourthlabs.com
gokul@onefourthlabs.com

<b>'while' syntax:</b>
    
    while CONDITION:
        code block

In [ ]:
n = int(input("Enter a number: "))

n_factorial = 1
x = 2
while x <= n:
    n_factorial = n_factorial * x
    x = x+1
    
print("%d! = %d" % (n, n_factorial))

Enter a number: 5
5! = 120

## 5. Functions
* A function is a block of code that can be reused. 
* It is defined using the 'def' keyword in python.

<b>Function syntax:</b>

    def function_name(parameters):
        code...
        return value

In [ ]:
# Defining the function
def area_of_square(length, breadth):
    area = length*breadth
    return area

In [ ]:
# Calling the function
area_of_square(2, 3)

6

In [1]:
# Function with default arguments
def greet(name=""):
    print("Hello " + name)

greet("Shubham")
greet()

Hello Shubham
Hello